@import '../../config';

.quiz-page {
  margin: 20px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__message {
    font-family: 'Roboto', sans-serif;
    font-size: $text-big;
    margin-top: 50px;
    color: $text-light;
  }

  &__loder-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__loader {
    margin-top: 150px;
  }

 
  &__result-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.progress {
  &__percent {
    color: $text-light;
    font-size: $text-big;
  }
}

.btn {
  border: none;
  font-size: $text-medium;
  font-weight: bold;
  padding: 12px;
  margin-left: 15px;
  border-radius: $radius-small;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &--result {
    margin-top: 20px;
    border: 1.5px solid $primary;
    background-color: rgba(255, 255, 255, 0);
    color: $text-light;
  }

  &--result:hover {
    background-color: $primary;
    color: $text-light;
  }
}



@media only screen and (max-width: 600px) {
  .quiz-page{
    margin:10px;
    padding: 10px;
  }
}
