@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto+Slab:wght@300&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito&display=swap');

//colors
$primary: #fa562c;
$secondary: #1a3fad;
$alternative: #71ad23;
$warn: #fa4f40;
$green: #61fa79;

//font-colors
$text-dark: #2a2a2a;
$text-light: #f2f2f2;

//font-sizes
$text-xl: 40px;
$text-big: 30px;
$text-medium: 18px;
$text-small: 14px;

// radius
$radius-big: 10px;
$radius-small: 6px;

//fonts
$roboto-big: 'Roboto Condensed' sans-serif;
$roboto-small: 'Roboto Slab' serif;
$ubuntu: 'Ubuntu' sans-serif;
$montserrat: 'Montserrat' sans-serif;
$nunito: 'Nunito' sans-serif;
$roboto: 'Roboto' sans-serif;
