@import './config';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.home-main {
  max-width: 100vw;
  padding: 20px 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    font-family: 'Roboto', sans-serif;
    color: $text-light;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 100px 0px;
    text-shadow: 2px 2px #0e1730c9;
  }

  &__quiz-filter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  &__filter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    width: 230px;
    height: 50px;
    padding: 10px;
    border-radius: 4px;
    border: none;
  }

  &__label {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
    font-family: $roboto;
    color: $text-light;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
  }

  &__btn {
    width: 180px;
    padding: 15px;
    margin-top: 100px;
    border: 2px solid $primary;
    background-color: $primary;
    color: $text-light;
    font-size: $text-medium;
    font-weight: bold;
    border-radius: $radius-big;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0);
    }
  }
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-family: 'Roboto', sans-serif;
    font-size: $text-big;
    margin-bottom: 40px;
  }

  &__message {
    font-size: $text-medium;
    color: $primary;
    font-weight: bold;
  }

  &__btn {
    font-size: $text-medium;
    border: 1px solid $primary;
    border-radius: $radius-small;
    padding: 8px 35px;
    background-color: $primary;
    margin-top: 30px;
    color: $text-light;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0);
      color: $primary;
    }
  }
}

@media only screen and (max-width: 1024px) {
  body {
    background-image: url('./assets/s-screen-back.png');
    background-color: #142a3f;
  }
  .home-main {
    padding: 20px;

    &__heading {
      margin: 20px 0px;
    }

    &__label {
      margin: 0px 0px 15px 0px;
      font-size: 30px;
    }

    &__input {
      font-size: 28px;
    }

    &__quiz-filter {
      flex-direction: column;
      justify-content: center;
    }

    &__filter-item {
      margin-bottom: 45px;
    }

    &__input {
      width: 530px;
      height: 80px;
    }

    &__btn {
      margin-top: 10px;
      width: 530px;
      height: 70px;
      font-size: $text-big;
    }
  }
}

@media only screen and (max-width: 768px) {
  body {
    .home-main {
      &__heading {
        font-size: $text-big;
        text-align: center;
      }

      &__input {
        height: 60px;
        width: 300px;
        font-size: 22px;
      }

      &__label {
        font-size: $text-medium;
      }

      &__btn {
        width: 300px;
        height: 60px;
        padding: 5px;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
}
