@import './config';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

label {
  margin-bottom: 15px;
  font-family: $roboto;
  color: $text-light;
  margin-left: 10px;
  font-size: $text-medium;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.home-main {
  padding: 20px 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    font-family: $roboto-big;
    color: $text-light;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 100px 0px;
  }

  &__quiz-filter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }

  &__filter-item {
    display: flex;
    flex-direction: column;
  }

  &__select {
    width: 220px;
  }

  &__input {
    padding: 10px;
    border-radius: 4px;
    border: none;
  }

  &__label {
    font-family: 'Roboto', sans-serif;
    font-size: $text-medium;
  }

  &__btn {
    width: 180px;
    padding: 15px;
    margin-top: 100px;
    border: 2px solid $primary;
    background-color: $primary;
    color: $text-light;
    font-size: $text-medium;
    font-weight: bold;
    border-radius: $radius-big;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0);
    }
  }
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-family: 'Roboto', sans-serif;
    font-size: $text-big;
    margin-bottom: 40px;
  }

  &__message {
    font-size: $text-medium;
    color: $primary;
    font-weight: bold;
  }

  &__btn {
    font-size: $text-medium;
    border: 1px solid $primary;
    border-radius: $radius-small;
    padding: 8px 35px;
    background-color: $primary;
    margin-top: 30px;
    color: $text-light;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0);
      color: $primary;
    }
  }
}

@media only screen and (max-width: 1024px) {
  body {
    background-image: url('./assets/s-screen-back.png');
    background-color: #142a3f;
  }

  .home-main {
    padding: 10px 30px;
  }
}
